<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Analytics.Interfaces" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.Analytics.Interfaces.Streaming" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.Analytics.Types" version="1.0.0" targetFramework="net48" />
</packages> 