/*:global(.main-layout) {
    display: flex;
    min-height: 100vh;
    background: var(--dark-bg);
}

:global(.content-wrapper) {
    flex: 1;
    margin-left: 220px;
    padding: 2rem;
    background: var(--dark-bg);
    min-height: calc(100vh - 3.5rem);
}

@media (max-width: 900px) {
    :global(.content-wrapper) {
        margin-left: 0;
        padding: 1rem;
    }
}
*/